.header-section {
    position:sticky;
    z-index: 99;
    top:0;
    background-color:white;
}

.nav-links {
    padding:0 5vw;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    color:#1F2937;
    text-align: center;
}

.logo img  {
    width:100px;
    height:auto;
    display:block;
}


.nav-links a {
    text-decoration: none;  
    font-size:1rem;
    color:#1F2937;
}

.nav-links a:hover {
    text-decoration: none;
}

.nav-items {
    display:flex;
    flex-direction:row;
    gap:3rem;
    align-items: center;
    justify-content: center;
}

.signUpButton .btn {
    display: inline-block; /* Makes the anchor behave like a button */
    background-color: #10B981;
    color: #1F2937;
    padding: 0.7rem 1.4rem;
    border: 0 solid;
    border-radius: 16px;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none; 
    cursor: pointer;
    transition: background 0.5s, color 0.5s, opacity 0.5s;
    text-align: center; 
}

.signUpButton .btn:hover {
    text-decoration: none;;
    background: blue;
    opacity: 0.7;
    color: white;
}

/* Optional: Add focus styles for accessibility */
.signUpButton .btn:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}